<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Concordia University Library</h2>
    </div>
    <img src="assets/library.jpg" alt="concordia library">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>local_library</mat-icon>
    library
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/loan">
    <mat-icon>unarchive</mat-icon>
    loan
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/member">
    <mat-icon>people</mat-icon>
    member
  </a>


  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>


